@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grid-pattern {
  background-image: linear-gradient(to right, rgba(79, 70, 229, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(79, 70, 229, 0.1) 1px, transparent 1px);
  background-size: 40px 40px;
}

